img {
    width: 100px;
    height: 125px;
}

h3 {
    margin-bottom: 10px;
}

small {
    margin: 0;
    font-weight: bold;
    margin-bottom: 0px;
}

p {
    margin-top: 5px;
}

.item {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    width: 125px;
    height: 125px;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.descricao {
    margin-left: 25px;
}